<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{% static 'general/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'general/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'general/favicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'general/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'general/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'general/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'general/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'general/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'general/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'general/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'general/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'general/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'general/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'general/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'general/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'general/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'general/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'general/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'general/browserconfig.xml' %}">
    <!-- ****** faviconit.com favicons ****** -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'homePage/style.css' %}">

    <title>Daniela Venturo Esaine</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">D.V.E.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experiences">Experiences</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead rellax" data-rellax-speed="-7">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <a id="duck" href="https://en.wikipedia.org/wiki/Rubber_duck_debugging" target="_blank">
                    <img src="{% static 'general/rubber-duck.png' %}" alt="Rubber Duck">
                </a>
                <div class="duck-shadow"></div>
                <h1 class="font-weight-light">Daniela Venturo Esaine</h1>
                <p class="lead">Computer Science student at the University of Toronto</p>
                <a href="https://www.linkedin.com/in/daniela-venturo-esaine/" target="_blank"><i
                        class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                <a href="https://github.com/lilvedaes" target="_blank"><i class="fa fa-github-square fa-3x"
                                                                          aria-hidden="true"></i></a>
                <a href="mailto: daventuro@gmail.com" target="_blank"><i class="fa fa-envelope fa-3x"
                                                                         aria-hidden="true"></i></a>
                <a href="{% static 'general/Daniela_Venturo Esaine_Resume.pdf' %}" target="_blank"><i class="fa fa-file-text fa-3x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</header>

<div class="content rellax" data-rellax-speed="1">
    <!-- About -->
    <section id="about" class="py-5">
        <div class="container">
            <h1 class="font-weight-light mb-3">About</h1>

            <!-- My Story -->
            <div class="container">
                <h4 class="font-weight-light mb-3">My Story</h4>
                <div class="row mb-3">
                    <div class="about-text col-md-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi
                        officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam
                        enim
                        fugiat reprehenderit expedita.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi
                        officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi
                        officiis blanditiis voluptatem hic,</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'general/prof-pic2.JPG' %}" alt="Profile Picture">
                    </div>
                </div>
            </div>

            <!-- Education -->
            <div class="container">
                <h4 class="font-weight-light mb-3">Education</h4>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h6>Computer Science ...</h6>
                        <div>
                            <p class="place">University of Toronto Scarborough</p>
                            <p class="dates">September 2018 - Present</p>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <h6>Ciencias de la computacion (Computer Science)</h6>
                        <div>
                            <p class="place">UTEC - Lima, Peru</p>
                            <p class="dates">March 2017 - June 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Skills -->
    <section id="skills" class="py-5">
        <div class="container">
            <h1 class="font-weight-light mb-3">Skills</h1>
            {% if skills_list %}
                <div class="row justify-content-center">
                    {% for skill in skills_list %}
                        <div class="skill col-lg-3 col-sm-4 col-xs-6 mb-4">
                            <div class="skill-img"><img src="{{ skill.icon.url }}" alt="{{ skill.name }}"></div>
                            <div class="skill-name">{{ skill.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No skills are available.</p>
            {% endif %}
        </div>
    </section>

    <!--    Projects    -->
    <section id="projects" class="py-5">
        <div class="container">
            <h1 class="font-weight-light mb-3">Projects</h1>
            {% if project_list %}
                <div class="row">
                    {% for project in project_list %}
                        <div class="col-lg-4 col-sm-6 mb-4 flip-card">
                            <div class="flip-card-inner">
                                <div class="card h-100 flip-card-front">
                                    <a href="http://{{ project.link }}"><img class="card-img-top" src="{{ project.picture.url }}"
                                                     alt="{{ project.name }}"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="http://{{ project.link }}">{{ project.name }}</a>
                                        </h4>
                                        <p class="card-text">{{ project.description }}</p>
                                    </div>
                                </div>
                                <div class="card h-100 flip-card-back">
                                    <div class="card-body">
                                        <h5>Skills</h5>
                                        <ul>
                                            {% for skill in project.skills.all %}
                                                <li>{{ skill.name }}</li>
                                            {% endfor %}
                                        </ul>
                                        {# If team, repository, or link are # then don't display them #}
                                        {% ifnotequal project.team "#" %}
                                            <p>Developed with: {{ project.team }}</p>
                                        {% endifnotequal %}

                                        <div class="link-container">
                                            <div class="repository-link">
                                                {% ifnotequal project.repository "#" %}
                                                    <a href="http://{{ project.repository }}" target="_blank">
                                                        <img src="{% static 'general/icons8-git-48.png' %}" alt="Rubber Duck">
                                                    </a>
                                                {% endifnotequal %}
                                            </div>
                                            <div class="external-link">
                                                {% ifnotequal project.link "#" %}
                                                    <a href="http://{{ project.link }}" target="_blank">
                                                        <img src="{% static 'general/icons8-external-link-48.png' %}" alt="Rubber Duck">
                                                    </a>
                                                {% endifnotequal %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No projects are available.</p>
            {% endif %}
        </div>
    </section>

    <!-- Experiences -->
    <section id="experiences" class="py-5">
        <div class="container">
            <h1 class="font-weight-light mb-3">Experiences</h1>
            {# EXPERIENCES #}
            {% if experience_list %}
                <div class="row">
                    {% for experience in experience_list %}
                        <div class="col-md-12">
                            <h5>{{ experience.name }}</h5>
                            <div>
                                <h6 class="place">{{ experience.company }}</h6>
                                <h6 class="dates">{{ experience.start_date }} - {{ experience.end_date }}</h6>
                            </div>
                            <div>
                                <p>{{ experience.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No experiences are available.</p>
            {% endif %}
        </div>
    </section>
</div>

<footer>
    <h6>Feel free to contact me for any inquiries through
        <a href="https://www.linkedin.com/in/daniela-venturo-esaine/" target="_blank" title="linkedin">LinkedIn</a>
        or <a href="mailto: daventuro@gmail.com" target="_blank" title="e-mail">e-mail</a>!</h6>
        If you have found any bugs while navigating this page, let me know so I can fix them.
        Icons made by <a target="_blank" href="https://icons8.com">Icons8</a> and
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>.
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

{#    To achieve parallax effect    #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script>

<script>
    var rellax = new Rellax('.rellax');
</script>
</body>
</html>