@keyframes float {
  0% {
    transform: translateY(-1em) rotate(10deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-1em) rotate(-10deg);
  }
}

@keyframes shadow {
	0% {
        width: 100px;
		box-shadow: 0px 10px 8px rgba(0,0,0,.8);
	}
	50% {
        width: 80px;
		box-shadow: 0px 10px 8px rgba(0,0,0,.5);
	}
	100% {
        width: 100px;
		box-shadow: 0px 10px 8px rgba(0,0,0,.8);
	}
}

html {
	scroll-behavior: smooth;
}

nav {
  background-color: #0093c4;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  color: white;
  background-color: #4fc3f7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  background-color: white;
}

.fa {
  padding: 0 0.2em 0 0.2em;
  color: white;
}

.fa:hover {
  color: #0093c4;
}

#duck img {
  animation: float 1.5s ease-out infinite alternate;
}

.duck-shadow {
  height: 2px;
  display: block;
  margin: 15px auto;
  animation: 1.5s infinite alternate shadow;
}

/* About */

#about img {
    width: 210px;
    float: right;
    height: 210px;
    border-radius: 50%;
    box-shadow: 1px 10px 15px rgba(0,0,0,.55);
}

/* Skills */

.skill {
    text-align: center;
    align-content: center;
    font-size: large;
}

.skill {
    transition: transform .2s; /* Animation */
}

.skill:hover {
    transform: scale(1.2);
}

/* Projects */

#projects .card-body ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#projects .card-body a {
    color: black
}

#projects .card-body a:hover {
    color: #4fc3f7;
    opacity: 0.5;
    text-decoration: none;
}

#projects .link-container {
    float: right;
}

#projects .repository-link {
    float: left;
}

#projects .external-link {
    float: right;
}

/* flipping cards effect */

.flip-card {
    display: grid;
    perspective: 700px;
}

.flip-card-inner, .flip-card {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.flip-card-inner div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-inner {
    display: grid; grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.flip-card-front {
    grid-area: frontAndBack;
}

.flip-card-back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

/* Experience styling */

.place {
    float: left;
}

.dates {
    text-align: end;
}

footer {
    background-color: #bfbfbf;
    text-align: center;
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
}

footer a {
    color: white
}

footer a:hover {
    color: #666666;
    text-decoration: none;
}